/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running smRNA samples from the Hospital Clinic 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile clinic,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    
    config_profile_name        = 'smRNA analysis profile'
    config_profile_description = 'Profile to analyse smRNA samples from the Hospital Clinic'

    input               = 'samplesheet.csv'
    save_intermediates  = false

    mature              = 'data/mature.fa'
    mirna_gtf           = 'data/hsa.gff3'
    genome_index        = 'data/genome_index.tar.gz'
    mirtrace_species    = 'hsa'
}

includeConfig 'protocol_illumina.config'
