/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running smRNA samples from the Hospital Clinic 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile clinic,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    
    config_profile_name        = 'smRNA analysis profile'
    config_profile_description = 'Profile to analyse smRNA samples from the Hospital Clinic'

    input               = 'samplesheet.csv'
    save_intermediates  = true

    mature              = 'data/mature.fa'
    hairpin             = 'data/hairpin.fa'
    mirna_gtf           = 'data/hsa.gff3'
    genome              = 'data/GRCh38.fa.gz'
    genome_index        = 'data/GRCh38_index.tar.gz'
    mirtrace_species    = 'hsa'
    
    mirdeep_mirna_other = 'data/mature_mmu.fa'
    mirdeep_mirbase_v18 = true
    mirdeep_pdfs        = false
}

includeConfig 'protocol_illumina.config'
